
@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <ul>
        @foreach(var item in Model.UpCommingCourses){ 
            <li>
                <div class="date">
                    <div class="month">
                        @item.DateTime.ToString("MM")
                    </div>
                    <div class="day">
                        @item.DateTime.ToString("dd")
                    </div>
                </div>
                <div class="detail">
                    <span class="lecture">
                        @item.Lecture.Name
                        @if (item.ShowAction )
                        {
                            <button class="btn btn-default btn-sm js-toggle-attendace"></button>
                        }
                    </span>
                    <span class="category">
                        @item.Category.Name
                    </span>
                    <button data-course-id="@item.Id" class="btn btn-default btn-sm js-toggle-attendace">Going?</button>
                </div>
            </li>
        }
    </ul>

    @section scripts
        {
        <script>
            $(document).ready(function () {
                $(".js-toggle-attendace").click(function (e) {
                    var button = $(e.target);
                    $.post("/api/attendances", { courseId: button.attr("data-course-id") })
                        .done(function () {
                            button.removeClass("btn-default")
                                .addClass("btn-info")
                                .text("Going");
                        })
                        .fail(function () {
                            alert("Something goes wrong");
                        });
                });
            });
        </script>
        }
</div>