@using Microsoft.AspNet.Identity;
@using NguyenDucHuy_Bigschool.Models;
@using System.Data.Entity;
@using System.Linq;
@model NguyenDucHuy_Bigschool.ViewModels.CouresViewModel
@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <ul class="course">
        @foreach (var item in Model.UpcommingCourses)
        {
            <li>
                <div class="date">
                    <div class="month">
                        @item.DateTime.ToString("MM")
                    </div>
                    <div class="day">
                        @item.DateTime.ToString("dd")
                    </div>
                </div>
                <div class="detail">
                    <span class="lecture">
                        @item.Lecture.Name
                        @if (Model.ShowAction)
                        {
                            <button class="btn btn-default btn-sm js-toggle-follow" data-userid="@item.LectureId">Follow</button>
                        }
                    </span>
                    <span class="category">
                        @item.Category.Name

                    </span>
                    @if (Model.ShowAction)
                    {
                        var user = User.Identity.GetUserId();
                        ApplicationDbContext dbContext = new ApplicationDbContext();
                        bool isGoing = dbContext.Attendances.Any(a => a.CourseId == item.Id && a.AttendeeId == user);
                        <div>
                            @if (isGoing)
                            {
                                <span class="text-danger">Da Dang Ky</span>
                            }
                            else
                            {
                            <button data-course-id="@item.Id" class="btn btn-default btn-sm js-toggle-attendace">Going?</button>
                        }
                </div>

                }

                </div>
            </li>
}
    </ul>

    @section scripts
        {
        <script>
            $(document).ready(function () {
                $(".js-toggle-attendace").click(function (e) {
                    var button = $(e.target);
                    $.post("/api/attendances", { courseId: button.attr("data-course-id") })
                        .done(function () {
                            button.removeClass("btn-default")
                                .addClass("btn-info")
                                .text("Going");
                        })
                        .fail(function () {
                            alert("Something goes wrong");
                        });
                });
                $(".js-toggle-follow").click(function (e) {
                    var button = $(e.target);
                    $.post("/api/folowing", { followeeId: button.attr("data-userid") })
                        .done(function () {
                            button.text("Following");
                        })
                        .fail(function () {
                            alert("Something failed");
                        });
                });
            });
        </script>
    }
</div>