
@{
    ViewBag.Title = "Following";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<h2>Following</h2>

<ul class="course">
    @foreach (var item in Model.UpcommingCourses)
    {
        <li>
            <div class="date">
                <div class="month">
                    @item.DateTime.ToString("MM")
                </div>
                <div class="day">
                    @item.DateTime.ToString("dd")
                </div>
            </div>
            <div class="detail">
                <span class="lecture">
                    @item.Lecture.Name
                </span>
                <span class="category">
                    @item.Category.Name
                </span>
                @if (Model.ShowAction)
                {
                    <button data-course-id="@item.Id" class="btn btn-default btn-sm js-toggle-attendace">Following</button>
                }

            </div>
        </li>
    }
</ul>
