
@{
    ViewBag.Title = "Mine";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Mine</h2>

<ul class="course">
    @foreach (var item in Model)
    {
        <li>
            <div class="date">
                <div class="month">
                    @item.DateTime.ToString("MM")
                </div>
                <div class="day">
                    @item.DateTime.ToString("dd")
                </div>
            </div>
            <div class="detail">
                <span class="lecture">
                    @item.Lecture.Name
                </span>
                <span class="category">
                    @item.Category.Name
                </span>
            </div>
            <div class="action">
                <a href="@Url.Action("Edit", "Coures", new { id = item.Id})">Edit</a>
                <a href="#" class="js-canceled-course" data-course-id="@item.Id">Cancel</a>
            </div>
        </li>
    }
    @section scripts
{
        <script>
            $(document).ready(function () {
                $(".js-canceled-course").click(function (e) {
                    e.preventDefault();
                    var link = $(e.target);
                    bootbox.confirm("Are u sure to cancel", function () {
                        $.ajax({
                            url: "/api/courses/" + link.attr("data-course-id"),
                            method: "DELETE"
                        })
                            .done(function () {
                                link.parents("li").fadeOut(function () {
                                    $(this).remove();
                                });
                            })
                            .fail(function () {
                                alert("something failed");
                            });
                    });
                });
            });
        </script>
    }

</ul>